<h4><small>Diagnoses for </small><%= PatientUser.find(params[:id]).shortname() %> </h4>

<%= form_tag('/cabinet/doctor/diagnoses/confirm', :method => 'post', class: 'form-horizontal', id: 'diagnoses-form' ) do %>
    <legend>Please type diagnose name into search field and click Start searching. After this select diagnoses and click Save.
      If you need cancel some diagnoses for patient, please unchecked those flags.
    </legend>

    <input type="hidden" value="<%= params[:id] %>" name="patient_id">
    <div id="existing-diagnoses">
      <% @diagnoses.each do |diagnose| %>
          <p><input type="checkbox" checked="checked"  name="item[]" value="<%= diagnose.id %>" /><%= diagnose.code_name %></p>
    <% end %>
    </div>

    <div class="form-actions">
      <a class="btn send">Save</a>
    </div>

<% end %>

<%= form_tag('/cabinet/doctor/diagnoses/find-by-name', :method => 'post', class: 'form-search-large', id: 'diagnoses-search' ) do %>
    <input type="text" id="diagnose-name" name="name" placeholder="Enter diagnose name">
    <a class="btn btn-primary start-search">Start searching</a>
<% end %>



<div id="diagnoses-list">
</div>

