<h4><small>Diagnoses for </small><%= PatientUser.find(params[:id]).shortname() %> </h4>

<%= form_tag('/cabinet/doctor/diagnoses/confirm', :method => 'post', class: 'form-horizontal', id: 'diagnoses-form' ) do %>
    <legend>
      Здесь вы можете назначить диагнозы пациента.
    </legend>

    <small>Для этого
      вам сперва необходимо ввести название диагноза в поле ввода и нажать кнопку "Начать поиск". После этого в списке диагнозов выберите
      те которые хотите <b>назначить</b> пациенту и напротив каждого из них щелкните ссылку "Добавить". Для того чтобы
      отменить диагноз снимите галочку напротив его названия.
    </small>

    <input type="hidden" value="<%= params[:id] %>" name="patient_id">
    <div id="existing-diagnoses">
      <% @diagnoses.each do |diagnose| %>
          <p><input type="checkbox" checked="checked"  name="item[]" value="<%= diagnose.id %>" /><%= diagnose.code_name %></p>
    <% end %>
    </div>

    <a class="btn send">Сохранить</a>

<% end %>

<%= form_tag('/cabinet/doctor/diagnoses/find-by-name', :method => 'post', class: 'form-search-large', id: 'diagnoses-search' ) do %>
    <input type="text" id="diagnose-name" name="name" placeholder="Введите название диагноза">
    <a class="btn btn-primary start-search">Начать поиск</a>
<% end %>



<div id="diagnoses-list">
</div>

