<h3><%= @patient.get_FIO %></h3>
<h4>Link parameters</h4>
<ul class="unstyled">
  <% @patient.parameters.each do |p| %>
      <li>
        <%= p.name %>
        <%= link_to 'Unlink', {:controller => :'cabinet/doctor/parameter', :action => :unlink, :patient_id => @patient.id, :parameter_id => p.id}, {:class => 'parameter-unlink'} %>
      </li>
  <% end %>
</ul>
<h4>Available parameters</h4>
<ul class="unstyled">
  <% Parameter.all.each do |p| %>
      <li>
        <%= p.name %>
        <%= link_to 'Link', {:controller => :'cabinet/doctor/parameter', :action => :link, :patient_id => @patient.id, :parameter_id => p.id}, {:class => 'parameter-link'} %>
      </li>
  <% end %>
</ul>