<h2><%= current_user.email %>, you are blocking!</h2>
<% if flash[:error] %>
    <div class="alert alert-error"><%= flash[:error] %></div>
<% end %>
<%= form_tag :controller => :block, :action => :destroy, :method => :delete do %>
    <p>
      <label>Password:</label>
      <%= password_field_tag :password %>
      <span class="help-block">Repeat password for unblock.</span>
    </p>
    <%= submit_tag 'Unblock', :class => 'btn' %>
<% end %>