<div class="row-fluid">
  <h1>Данные о состоянии здоровья</h1>
  <table class="table">
    <% @parameters.each do |p| %>
        <tr>
          <td><%= p.name %></td>
          <td class="parameter">
            <%= form_for :storage, :url => cabinet_patient_parameter_index_path, :html => {:class => 'form-inline'} do |f| %>
                <%= f.hidden_field :parameter_id, :value => p.id %>
                <%= render :partial => p.class.name.underscore, :locals => {:f => f, :p => p} %>
                <%= f.submit 'Сохранить значение', :class => 'btn' %>
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>
</div>