<%= form_for p, :url => url_for(:controller => :parameter, :action => :create), :html => {:class => 'form-horizontal'} do |f| %>
    <%= f.hidden_field :type, :value => 'StringParameter' %>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :placeholder => 'parameter name' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :default, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :default, :placeholder => 'default value' %>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn">Create</button>
    </div>
<% end %>