<%= form_for p, :as => :parameter, :url => url_for(:controller => :parameter, :action => :create), :html => {:class => 'form-horizontal'} do |f| %>
    <%= f.hidden_field :type, :value => 'StringParameter' %>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :placeholder => 'parameter name' %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Default</label>
      <div class="controls">
        <input type="text" name="parameter[metadata][default]" placeholder="default value" value="<%= p.metadata['default'] %>">
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn">Create</button>
    </div>
<% end %>