<h3>Create new parameter</h3>
<ul class="nav nav-tabs">
  <li><a>Select parameter type:</a></li>
  <% [StringParameter, IntegerParameter, SelectParameter, BoolParameter].each_with_index do |t, i| %>
      <li <% if @parameter.is_a?(t) || (i == 0 && !@parameter.present?) %> class="active" <% end %>><a href="#<%= t.name.underscore %>" data-toggle="tab"><%= t t %></a></li>
  <% end %>
</ul>
<div class="tab-content">
  <% [StringParameter, IntegerParameter, SelectParameter, BoolParameter].each_with_index do |t, i| %>
      <div class="tab-pane <% if @parameter.is_a?(t) || (i == 0 && !@parameter.present?) %> active <% end %>" id="<%= t.name.underscore %>">
        <% if @parameter.present? && @parameter.is_a?(t) %>
            <%= render :partial => 'errors', :locals => {:parameter => @parameter} %>
            <%= render :partial => t.name.underscore, :locals => {:p => @parameter} %>
        <% else %>
            <%= render :partial => t.name.underscore, :locals => {:p => t.new} %>
        <% end %>
      </div>
  <% end %>
</div>
