<div class="row-fluid">
  <h2><%= t "event.type.#{@event.type}" %></h2>

  <p>Организатор: <%= @event.user.shortname %></p>

  <% if @event.summary.present? %>
      <p>Краткое описание: <%= @event.summary %></p>
  <% end %>

  <p>Дата начала: <%= l @event.date_start, :format => :long %></p>
  <p>Дата окончания: <%= l @event.date_end, :format => :long %></p>
  <% if @event.description.present? %>
      <p>Описание: <%= @event.description %></p>
  <% end %>
  <% if @event.attendees.present? %>
      <p>Участники: </p>
      <ul class="attendees">
        <% @event.attendees.each do |a| %>
            <li><%= link_to a.user.fullname, {:controller => :'/user', :action => :profile, :id => a.user.id} %></li>
        <% end %>
      </ul>
  <% end %>
  <% if @event.documents.present? %>
      <p>Документы: </p>
      <ul class="documents">
        <% @event.documents.each do |d| %>
            <li><%= link_to t("document.type.#{d.type}"), {:controller => :document, :action => :show, :id => d.id}, {:'data-id' => d.id} %></li>
        <% end %>
      </ul>
  <% end %>
  <% if @event.is_a?(AppointmentEvent) and @event.status == :busy %>
      <%= link_to 'Не принимать участие', {:controller => :'cabinet/patient/event', :action => :unsubscribe, :id => @event.id}, {:class => 'btn'} %>
  <% end %>
</div>