<div class="row-fluid">
  <h3><%= t "event.type.#{@event.type}" %></h3>
  <p>Организатор: <%= @event.user.email %></p>
  <p>Краткое описание: <%= @event.summary %></p>
  <p>Дата: с <%= l @event.date_start, :format => :long %> по <%= l @event.date_end, :format => :long %></p>
  <% if @event.description.present? %>
      <p>Описание: <%= @event.description %></p>
  <% end %>
  <% if @event.attendees.present? %>
      <p>Участники: </p>
      <ul>
        <% @event.attendees.each do |a| %>
            <li><%= link_to a.user.email, {:controller => :'/user', :action => :profile, :id => a.user.id} %></li>
        <% end %>
      </ul>
  <% end %>
  <% if @event.is_a?(AppointmentEvent) and @event.status == 'busy' %>
      <%= link_to 'Не принимать участие', {:controller => :'cabinet/patient/event', :action => :unsubscribe, :id => @event.id}, {:class => 'btn'} %>
  <% end %>
</div>