<% @event.errors.each do |e, m| %>
    <div class="alert alert-error">
      <button class="close" data-dismiss="alert">&times;</button>
      <%= "#{e} #{m} #{@event[e]}" %>
    </div>
<% end %>
<%= simple_form_for @event, :as => :event, :validate => true, :url => {:controller => :event, :action => :create}, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="control-group">
      <label class="control-label">Organizer</label>

      <div class="controls">
        <h3><%= User.current.email %></h3>
      </div>
    </div>
    <%= f.input :type, :as => :select, :collection => Event.select(:type).map(&:type).uniq,
                :label_method => lambda {|e| t("event.categories.#{e.underscore.gsub('_event', '')}")},
                :selected => Event.select(:type).map(&:type).uniq.first %>
    <div class="control-group">
      <label class="control-label">Whole day?</label>

      <div class="controls">
        <input type="checkbox" id="whole_day" name="whole_day" checked="checked">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Date start</label>

      <div class="controls">
        <input type="text" name="event[date_start]" id="date_start" class="datepicker" placeholder="date">
        <input type="text" name="event[time_start]" id="time_start" class="timepicker" placeholder="time" style="display: none;">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Date end</label>

      <div class="controls">
        <input type="text" name="event[date_end]" id="date_end" class="datepicker" placeholder="date">
        <input type="text" name="event[time_end]" id="time_end" class="timepicker" placeholder="time" style="display: none;">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Summary</label>

      <div class="controls">
        <input type="text" name="event[summary]" id="summary" placeholder="summary">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Description</label>

      <div class="controls">
        <textarea name="event[description]" id="description" placeholder="description"></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Attendees</label>

      <div class="controls">
        <button class="btn" type="button" id="add-attendee-to-event">Add new attendee</button>
        <div class="padding-top10"></div>
        <div id="selected-attendee">

        </div>
      </div>
    </div>
    <div class="form-actions">
      <button class="btn" type="submit">Create</button>
    </div>
<% end %>

<div class="modal hide fade" id="modal-select-user">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Select user</h3>
  </div>
  <div class="modal-body">
    <%= form_tag({:controller => :event, :action => :find}, :class => 'form-search-large', :id => 'user-search-form') do %>
        <input type="text" id="name" name="name" placeholder="Enter user name">
    <% end %>
    <div id="user-list">

    </div>
  </div>
</div>

<div class="modal hide fade" id="modal-select-attendee-user">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Select attendee</h3>
  </div>
  <div class="modal-body">
    <%= form_tag({:controller => :event, :action => :find_attendee}, :class => 'form-search-large', :id => 'attendee-user-search-form') do %>
        <input type="text" id="attendee-name" name="name" placeholder="Enter attendee name">
    <% end %>
    <div id="attendee-user-list">

    </div>
  </div>
</div>