<h3>Event #<%= @event.id %></h3>
<p>Orginizer: <%= @event.user.email %></p>
<p>Calenar: <%= link_to @event.calendar.name, :controller => :calendar, :action => :index, :date => @event.date_start %></p>
<p>Summary: <%= @event.summary %></p>
<p>Date: from <%= @event.date_start.to_s :ru %> to <%= @event.date_end.to_s :ru %></p>
<p>Time: from <%= @event.time_start %> to <%= @event.time_end %></p>
<p>Category: <%= @event.category %></p>
<% if @event.description.present? %>
    <p>Description: <%= @event.description %></p>
<% end %>
<p>Attendees: </p>
<ul>
  <% @event.attendees.each do |a| %>
      <li><%= a.user.email %></li>
  <% end %>
</ul>