<h3>Выберите прием:</h3>
<table class="table table-striped">
 <tr>
  <th>Дата</th>
  <th>Пациент</th>
  <th>Описание</th>
 </tr>
 
 <% Event.all.each do |event| %>
   <tr>
   <td><%= event.date_start%><br/>
   <%= event.time_start.strftime("%H:%M") %> - <%= event.time_end.strftime("%H:%M")%></td>
   <td><%= link_to(User.find_by_id(event.user_id).email, "new-for-event/#{event.id}") unless User.find_by_id(event.user_id).blank? %></td>
   <td><%= event.description %></td>
   </tr>
 <% end %>
</table>
