<% content_for :local_menu do %>
  <li><%= link_to 'some_link', '.link1' %></li>
<% end  %>


<div class="page-header">
<h4>Reviewing document # <strong> <%= @doc.id %> </strong><br/>
 <small>Created by </small> <%= User.find(@doc.user_id).shortname %>
</h4>
</div>

<h5>
	Created_at: <small><%= @doc.created_at.strftime("%v") %></small>
</h5>

<h5>Anamnesis:</h5>
<p><%= @doc.appointment_document_info.anamnesis  %></p>
<h5>Appointment result's</h5>
<p><%= @doc.appointment_document_info.appointment_result %></p>
