<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <h1><%= @patient.shortname %></h1>
      <ul class="nav nav-pills nav-stacked">
        <% @patient.parameters.each do |p| %>
            <% unless p.is_a?(StringParameter) %>
                <li>
                  <a class="parameter btn btn-link" data-id="<%= p.id %>"><%= p.name %></a>
                </li>
            <% end %>
        <% end %>
      </ul>
      <h3>Фильтр</h3>
      <div>
        <label>Начальная дата</label>
        <input type="text" class="start-date datepicker" placeholder="start date" value="<%= l 7.days.ago.to_date, :format => :short %>" />
        <label>Конечная дата</label>
        <input type="text" class="end-date datepicker" placeholder="end date" value="<%= l 1.day.ago.to_date, :format => :short %>" />
      </div>
    </div>
    <div class="span9">
      <div class="chart"></div>
      <div class="box span12 hide">
        <div class="box-header">
          <h2><i class="icon-list"></i><span class="break"></span>Данные</h2>

          <div class="box-icon">
            <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
          </div>
        </div>
        <div class="box-content data"></div>
      </div>
    </div>
  </div>
</div>