<h3>From <%= @from_date %> to <%= @to_date %></h3>
<%= link_to 'Next', {:controller => :calendar, :action => :index, :year => @next_year, :month => @next_month}, :class => 'btn pull-right' %>
<%= link_to 'Prev', {:controller => :calendar, :action => :index, :year => @previous_year, :month => @previous_month}, :class => 'btn' %>
<table class="table calendar">
  <tr>
    <% Date::DAYNAMES[1..6].push(Date::DAYNAMES[0]).each do |d| %>
        <th><%= d %></th>
    <% end %>
  </tr>
  <% @calendar_date_from.step(@calendar_date_to) do |d| %>
      <% if d.wday == 1 %>
          <tr>
      <% end %>
      <td>
        <div class="calendar-day">
          <h5 class="pull-right badge badge-info"><%= d.day %></h5>
          <div class="clearfix"></div>
          <div>
            <% @events.select { |e| e.date_start == d }.each do |e| %>
                <%= link_to t("event.short_categories.#{e.category}"), {:controller => :event, :action => :show, :id => e.id}, :class => t("event.categories_label.#{e.category}"), :'data-id' => e.id %>
            <% end %>
          </div>
        </div>
      </td>
      <% if d.wday == 0 %>
          </tr>
      <% end %>
  <% end %>
</table>
<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Event info</h3>
  </div>
  <div class="modal-body">

  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>