<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.email_field :email, :placeholder => "Email", :class => 'input-mega-large' %></div>

  <div><%= f.password_field :password, :placeholder => "Password", :class => 'input-mega-large' %></div>

  <div>
    <% if devise_mapping.rememberable? -%>
        <div class="pull-right" style="padding-top: 4px; padding-right: 8px;">
          <label class="checkbox">
            <%= f.check_box :remember_me %>
            Remember me?
          </label>
        </div>
    <% end -%>
    <%= f.submit "Sign in", :class => 'btn btn-success' %>
  </div>
<% end %>