<div class="row-fluid">
  <h3>Профиль пользователя <%= @user.fullname %></h3>
</div>
<div class="row-fluid">
  <div class="span3">
    <div class="row-fluid">
      <div class="icon-user span12" style="font-size: 16em; text-align: center;">

      </div>
    </div>
  </div>
  <div class="span9">
    <% @user.roles.each do |r| %>
        <span class="badge badge-success"><%= r.name %></span>
    <% end %>
    <h4>Данные пользователя</h4>

    <p><%= User.human_attribute_name :email %>: <%= @user.email %></p>

    <p><%= User.human_attribute_name :first_name %>: <%= @user.first_name %></p>

    <p><%= User.human_attribute_name :last_name %>: <%= @user.last_name %></p>
    <% if @user.third_name.present? %>
        <p><%= User.human_attribute_name :third_name %>: <%= @user.third_name %></p>
    <% end %>
    <% if @user.role?(:patient) && current_user.role?(:doctor) %>
      <div>
        <h5><small>The following medical information for </small>doctor only</h5>
        <h4>Diagnoses</h4>
        <% @user.diagnosis.each do |diagnose| %>
            <p><input type="checkbox" checked="checked"  name="item[]" value="<%= diagnose.id %>" /><%= diagnose.code_name %></p>
        <% end %>

        <h4>Medicaments</h4>
        <% @user.medicaments.each do |medicament| %>
            <p><input type="checkbox" checked="checked"  name="item[]" value="<%= medicament.id %>" /><%= medicament.commercial_name %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>