<h3>Public user profile</h3>
<p><%= User.human_attribute_name :email %>: <%= @user.email %></p>
<p><%= User.human_attribute_name :first_name %>: <%= @user.first_name %></p>
<p><%= User.human_attribute_name :last_name %>: <%= @user.last_name %></p>
<% if @user.third_name.present? %>
    <p><%= User.human_attribute_name :third_name %>: <%= @user.third_name %></p>
<% end %>
<p>Roles: <%= @user.roles.map(&:name).join(', ') %></p>
