<%= simple_form_for @event, :url => {:controller => "appointment", :action => "create"},  :class => 'form-horizontal' do |f| %>

  <%= hidden_field_tag(:patient_id, "0") %>
  <%= f.input :date_start, :label => "Дата начала приема" %>
  <%= f.input :date_end, :label => "Дата окончания приема" %>
  <%= f.input :summary, :placeholder => "summary" %>
  <%= f.input :description, :placeholder => "Описание приема" %>   
  <div class="form-actions">
    <%= f.button :submit, 'Сохранить', :class => 'btn-success' %>
    <%= link_to 'Назад', :back, :class => 'btn' %>
  </div>
<% end %>
