<% content_for :local_menu do %>
  <li><%= link_to 'some_link', '.link1' %></li>
<% end  %>

<div class="page-header">
<h4><small>Reviewing appointment</small> # <strong> <%= @a.id %> </strong><br/>
 <small>Created by </small> <%= get_appointment_organizer(@a)  %>
  <small>Created at  </small> <%= @a.created_at.strftime("%v") %>
</h4>
</div>

<h5>
 <%= @a.summary  %><br/>
 <small><%= @a.description  %></small>
</h5>

<h5>Attendees:</h5>
<table class="table">
<tr>
  <th>FIO</th>
  <th>Type</th>
</tr>
 <% @a.attendees.each do |attendee|%>
   <tr>
     <td><%= User.find_by_id(attendee.user_id).shortname %></td>
     <td><%= attendee.type  %></td>
   </tr>
 <% end %>
</table>

<% if @a.is_processing? %>
  <%= render :partial => 'medicaments_assigning' %>
<% end %>

<%= render :partial => 'available_actions' %>