<h2>Information about <%= @user.email %></h2>
<p>Email: <%= @user.email %></p>
<p>Roles: </p>
<ul>
  <% @user.roles.each do |r| %>
      <li><%= r.name %></li>
  <% end %>
</ul>
<p>Calendar: <%= link_to 'Main calendar', :controller => :calendar, :action => :index, :id => @user.id %></p>
<% if @user.role? :doctor %>
    <%= link_to 'Appointment schedule', {:controller => :schedule, :action => :index, :id => @user.id}, :class => 'btn' %>
<% end %>