<h2>Information about <%= @user.email %></h2>
<p><%= User.human_attribute_name :first_name %>: <%= @user.first_name %></p>
<p><%= User.human_attribute_name :last_name %>: <%= @user.last_name %></p>
<% if @user.third_name.present? %>
    <p><%= User.human_attribute_name :third_name %>: <%= @user.third_name %></p>
<% end %>
<p><%= User.human_attribute_name :email %>: <%= @user.email %></p>
<p><%= User.human_attribute_name :address %>: <%= @user.address %></p>
<p>Roles: </p>
<ul>
  <% @user.roles.each do |r| %>
      <li><%= r.name %></li>
  <% end %>
</ul>
<p>Calendar: <%= link_to 'Main calendar', :controller => :calendar, :action => :index, :id => @user.id %></p>
<% if @user.role? :doctor %>
    <%= link_to 'Appointment schedule', {:controller => :schedule, :action => :index, :id => @user.id}, :class => 'btn' %>
<% end %>