<h3>New bid</h3>
<%= simple_form_for @bid, :validate => true, :url => {:controller => :bid, :action => :create}, :html => {:multipart => true, :class => 'form-horizontal'} do |f| %>
    <%= f.input :first_name, :placeholder => 'enter first name' %>
    <%= f.input :last_name, :placeholder => 'enter last name' %>
    <%= f.input :third_name, :placeholder => 'enter third name' %>
    <%= f.input :address, :placeholder => 'enter address' %>
    <%= f.input :policy, :placeholder => 'enter policy' %>
    <%= f.input :passport_scan, :as => :file %>
    <div class="form-actions">
      <%= f.button :submit, 'Send bid', :class => 'btn-success' %>
      <%= link_to 'Back', :back, :class => 'btn' %>
    </div>
<% end %>