<!DOCTYPE html>
<html>
<head>
  <title>Shm</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">
<div class="container-fluid">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">SHM</a>
        <ul class="nav">
          <li><%= link_to 'Admin panel', '/admin' %></li>
          <% if user_signed_in? %>
              <li>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              </li>
          <% else %>
              <li>
                <%= link_to('Login', new_user_session_path)  %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="well" style="width: 320px; margin: 0 auto;">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
