<!DOCTYPE html>
<html>
<head>
  <title>Shm</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">
<div class="container-fluid">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">SHM</a>
        <ul class="nav">
          <li><%= link_to 'Admin panel', '/admin' if User.current.present? && User.current.role?(:admin) %></li>
          <% if user_signed_in? %>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
              <li><%= link_to('Login', new_user_session_path) %></li>
          <% end %>
          <li><%= link_to 'Bid', new_bid_path %></li>
          <%= render :partial => '/cabinets_list' %>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row-fluid">
      <div class="">
        <%= yield %>
      </div>
    </div>
  </div>
</div>

<%= include_gon %>
<script data-main="/assets/application" src="/assets/require.js"></script>
</body>
</html>
