<!DOCTYPE html>
<html>
<head>
  <title>Shm</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">SHM</a>
        <ul class="nav">
          <li><%= link_to 'Admin panel', '/admin' if User.current.present? && User.current.role?(:admin) %></li>
          <% if user_signed_in? %>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
              <li><%= link_to('Login', new_user_session_path)  %></li>
          <% end %>
          <%= render :partial => '/cabinets_list' %>
        </ul>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4 well">
      <h1>Sidebar</h1>
      <%= yield :sidebar %>
    </div>
    <div class="span8 well">
      <%= yield %>
    </div>
  </div>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>
