<!DOCTYPE html>
<html>
<head>
  <title>Shm</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">
<div class="container-fluid">
  <div class="navbar navbar-fixed-top">

    <div class="navbar-inner">
      <div class="container">
        <img class="logo" src="/logo.jpg" style="float: left;" />
        <a class="brand" href="/"><font size="7">Дистанционноый мониторинг</font><br><br><font size="6">пациентов с ВПС</font></a>
        <ul class="nav">
          <li><%= link_to 'Admin panel', '/admin' if User.current.present? && User.current.role?(:admin) %></li>
          <% if user_signed_in? %>
              <li><%= link_to('Выйти', destroy_user_session_path, :method => :delete) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row-fluid" style="margin-top: 55px;">
      <div class="">
        <%= yield %>
      </div>
    </div>
  </div>
</div>

<%= include_gon %>
<script data-main="/assets/application" src="/assets/require.js"></script>
</body>
</html>
